<header>
    <nav class="navbar navbar-expand-md bg-custom d-flex justify-content-between">
      <a class="navbar-brand text-black ms-3" href="/">Artist Search</a>

      <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navBarNavBarCollapse"
              aria-controls="navBarNavBarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navBarNavBarCollapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-2 my-1 col-sm-auto col-md-auto col-lg-auto">
            <button
              class="btn btn-custom round-box"
              [ngClass]="{'btn-custom': currentSection !== 'search', 'btn-custom-active': currentSection === 'search'}"
              (click)="goToSection('search')"
            >Search</button>
          </li>
          <li class="nav-item mx-2 my-1 col-sm-auto col-md-auto col-lg-auto" *ngIf="!isLoggedIn">
            <button
              class="btn btn-custom round-box"
              [ngClass]="{'btn-custom': currentSection !== 'login', 'btn-custom-active':  currentSection === 'login'}"
              (click)="goToSection('login')"
            >Log in</button>
          </li>
          <li class="nav-item mx-2 my-1 col-sm-auto col-md-auto col-lg-auto" *ngIf="!isLoggedIn">
            <button
              class="btn btn-custom round-box"
              [ngClass]="{'btn-custom': currentSection !== 'register', 'btn-custom-active':  currentSection === 'register'}"
              (click)="goToSection('register')"
            >Register</button>
          </li>
          <li class="nav-item mx-2 my-1 col-sm-auto col-md-auto col-lg-auto" *ngIf="isLoggedIn">
            <button
              class="btn btn-custom round-box"
              [ngClass]="{'btn-custom': currentSection !== 'favorites', 'btn-custom-active': currentSection === 'favorites'}"
              (click)="goToSection('favorites')"
            >Favorites</button>
          </li>
          <li class="nav-item my-1 px-3 col-sm-auto col-md-auto col-lg-auto" *ngIf="isLoggedIn">
            <div class="dropdown dropdown-custom d-flex justify-content-center align-items-center">
              <a class="nav-link dropdown-toggle d-flex align-items-center justify-content-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img [src]="user?.profileImageUrl" alt="User profile" class="rounded-circle" width="30" height="30">
                <span class="ms-2 user-name-custom">{{ user?.fullName }}</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="userDropdown">
                <a class="dropdown-item delete-item-custom" (click)="deletes()" href="#">Delete account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item log-out-item-custom" (click)="logout()" href="#">Log out</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</header>
