.navbar-brand {
  font-size: 1.8rem;
}

.bg-custom {
  background-color: #ebebeb;
}

round-box {
  border-radius: 10px;
}
.user-name-custom {
  font-size: 1.2rem;
}

@media (max-width: 767.98px) {
  .btn-custom {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 1.2rem;
  }
  .btn-custom-active {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    background-color: #004F91;
    color: white;
    border: none;
    font-size: 1.2rem;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .btn-custom {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-custom-active {
    width: 100%;
    text-align: center;
    background-color: #004F91;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -10%;
    font-size: 1.2rem;
    border: 1px solid lightgray;
  }
}

.delete-item-custom {
  color: #ff0000;
  font-size: 1rem;

}
.dropdown-divider {
  border-top: 1px solid #dee2e6;
  margin: 0.5rem 0;
}

.log-out-item-custom {

  color: #004F91;
  font-size: 1rem;
}

