<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-7 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-left fs-2 my-2 pb-3">Register</h5>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="fullname" class="form-label">Fullname</label>
              <input
                type="text"
                id="fullname"
                class="form-control"
                formControlName="fullname"
                placeholder="John Doe"
                (input)="onFullNameChange($event)"
                (blur)="onFullNameBlur()"
                [class.is-invalid]="registerForm.get('fullname')?.invalid && registerForm.get('fullname')?.touched"/>
              <div *ngIf="registerForm.get('fullname')?.invalid && registerForm.get('fullname')?.touched" class="invalid-feedback">
                Fullname is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter email"
                [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched|| (isSubmitted && isDuplicate)"/>
              <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="invalid-feedback">
                Email must be valid.
              </div>
              <div *ngIf="isSubmitted && isDuplicate" class="invalid-feedback">
                User with this email already exists.
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                formControlName="password"
                placeholder="Password"
                [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"/>

              <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="invalid-feedback">
                Password is required.
              </div>
            </div>

            <button type="submit" class="btn btn-primary register-btn-custom w-100" [disabled]="registerForm.invalid || isLoading">Register</button>
          </form>
        </div>
      </div>
      <div id="go-to-login-section" class="text-center my-2">Already have an account? <a (click)="goToLoginSection()" href="#">Login</a></div>
    </div>
  </div>
</div>
